/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

/* GLOBAL STYLES */
html {
    font-size: 16px;
}
.btn-primary {
    background-color: #786dd6;
    border: none;
    border-radius: 30px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.btn-primary:hover {
    background-color: #d9d9db;
    color: #786dd6;
}
/* .btn-secondary {
    background-color: #786dd6;
    border: none;
    border-radius: 30px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.btn-secondary:hover {
    background-color: #d9d9db;
    color: #786dd6;
}
*/

/* INDEX VIEW STYLES */
.recipe-card {
    background: whitesmoke;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.recipe-card h2 {
    text-align: center;
    font-size: 1.25rem;
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.recipe-card p {
    text-align: center;
    font-size: .8rem;
}

/* SHOW VIEW STYLES */
img.recipe-show {
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: center center;
}
.show-hero {
    height: 450px;
    position: relative;
}
.show-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 100%;
    background-color: rgba(125, 104, 242, 0.6);
}
.show-hero-overlay h2 {
    text-align: center;
    color: white;
    font-size: 3rem;
}
.show-hero-overlay p {
    text-align: center;
    color: white;
}

.show-hero-overlay>div {
    max-width: 768px;
    margin: 0 auto;
}







